<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link rel="alternate" href="feed.rss" type="application/rss+xml" title="RSS feed for this page"/>
<title>{{title}}</title>

<link rel="StyleSheet" href="/tweak.css" type="text/css"/>
</head>

<div class="navigation">
    <a href="/">Home</a>
</div>

<div class="main">
<h2>{{title}}</h2>
<p/>Daily life, travel, work and play, some pictures, some photos
<p/>Pages marked <span class="newgallery">NEW</span> have been added (or just updated) within 30 days of this page being created
<hr/>

    <h3>Recent Galleries
    <a href='feed.rss'>
        <img src='feed-icon-14x14.png' alt='rss feed icon' width='14' height='14'/>
    </a>
    </h3>
    {% if recent|length > 1 %}
    <ul>
        {% for g in recent %}
            <li><a href="{{g.page1}}">{{g.title}}</a> gallery created <span class='createdate'>{{g.create_date}}</span></li>
        {% endfor  %}
    </ul>
    {% endif %}

<hr/>

    {% macro input(here, prev) %}
        {% for x in helper_in(here, prev) %}
            </li>
            </ul>
        {% endfor %}
        {% for x in helper_out(here, prev) %}
        <li>{{x}}
            <ul>
        {% endfor %}

        <li>
            <a href="{{ here.href|e }}"> {# only make links to pages themselves #}
                {{ here.title }}
            </a>
        </li>
    {% endmacro %}

    <ul class="gallerylist">
        {% set depth = 0 %}
        {%- for item in galleries %}
            {{ input(item, loop.previtem) }}
        {% endfor %}
    </ul>

    <p/>
    <a href="/pics">Older galleries</a>
</div>
<script>
(function() {
    var recent = document.getElementsByClassName("createdate");
    var now = new Date();
    for (let e of recent) {
        d = new Date(e.textContent);
        daysAgo = Math.floor((now - d) / (1000 * 60 * 60 * 24));
        if (daysAgo == 0) {
            e.textContent = "today";
        } else {
            e.textContent = daysAgo + " days ago";
        }
    }
})();
</script>
</body>
</html>